{% extends "base.html" %}

{% block title%}
{{ title|default("login")|upper }}
{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-0 col-md-2 col-lg-3"></div>
    <div class="col-12 col-md-8 col-lg-6">
        <form action="/login" method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">{{ form.email.label }}</label>
                {{ form.email(class="form-control", size=32) }}
            </div>

            {% for msg in form.email.errors %}
            <div class="alert alert-danger">
                {{ msg }}
            </div>
            {% endfor %}


            <div class="mb-3">
                <label for="pwd" class="form-label">{{ form.password.label }}</label>
                {{ form.password(class="form-control", size=32) }}
            </div>

            {% for msg in form.password.errors %}
            <div class="alert alert-danger">
                {{ msg }}
            </div>
            {% endfor %}

            <div class="form-check mb-3">
                <label class="form-check-label">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label }}
                </label>
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
    <div class="col-0 col-md-2 col-lg-3"></div>

</div>


{% endblock %}