{% extends "base.html" %}

{% block title%}
{{ title|default("my cards")|upper }}
{% endblock %}

{% block content %}
<div class="row mt-5 mb-5">
    <div class="col-0 col-md-2 col-lg-3"></div>
    <div class="col-12 col-md-8 col-lg-6">
        <div class="row">
            {% for package in data %}
            <div class="col-6 col-md-6 col-lg-4">
                <div class="card mt-3">
                    <img class="card-img-top" src="{{ package.image_url }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ package.hotel_name }}</h4>
                        <p class="card-text">{{ package.description }}</p>
                        <a href="/book/{{package.hotel_name}}" class="card-link">book</a>
                        <a href="/viewPackageDetail/{{package.hotel_name}}" class="card-link">detail</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-0 col-md-2 col-lg-3"></div>
</div>
{% endblock %}